body {
    background-image: url("../images/palme-trees.jpg.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 5px rgb(250, 107, 190);
    font-size: 60px;
    color: rgb(255, 64, 175);
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 8px rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}

h5 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 8px rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}

/* .card-panel {
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
} */

.transbox {
    border-radius: 25px;
    background-image: url("../images/super-cloudy-sky.jpg");
    background-size: inherit;
}

#navbar-banner {
    /* background-color: rgb(255, 255, 255, 0.8); */
    background-image: url("../images/super-cloudy-sky.jpg");
    background-size: inherit;
}

nav#navbar-banner span {
    color: rgb(77, 77, 77);
    font-weight: bold;
}
.brand-logo {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 5px rgb(250, 107, 190);
    font-size: 60px;
    color: rgb(255, 64, 175);
}
.slider {
    border-radius: 25px;
}

.fuck-my-shit-up-fam {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-shadow: 2px 2px 8px rgb(250, 107, 190);
    color: rgb(255, 64, 175);
}
.this-is-the-shit-fam {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: black;
}